.hero {
  text-align: center;
  color: $very-dark-cyan;

  @media screen and (min-width: $sm) {
    display: flex;
    align-items: center;
  }

  .hero__info {
    @media screen and (min-width: $sm) {
      width: 60%;
      text-align: left;
      margin-right: $sp6;
    }
  }

  .hero__title {
    font-family: $font-header;
  }
  .hero__text {
    margin: $sp3 $sp1;
  }

  .hero__illustration {
    width: 80%;
    margin: $sp2 0;
    @media screen and (min-width: $sm) {
      width: 90%;
      margin-top: $sp1;
    }
  }
}
