* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 6rem 0;
}
.navbar .logo {
  width: 50%;
}

.hero {
  text-align: center;
  color: #00252e;
}
@media screen and (min-width: 680px) {
  .hero {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 680px) {
  .hero .hero__info {
    width: 60%;
    text-align: left;
    margin-right: 6rem;
  }
}
.hero .hero__title {
  font-family: "Poppins", sans-serif;
}
.hero .hero__text {
  margin: 2.5rem 1rem;
}
.hero .hero__illustration {
  width: 80%;
  margin: 2rem 0;
}
@media screen and (min-width: 680px) {
  .hero .hero__illustration {
    width: 90%;
    margin-top: 1rem;
  }
}

.container {
  margin: 4rem 0 10rem 0;
}
@media screen and (min-width: 680px) {
  .container {
    margin: 6rem 6rem 12rem 6rem;
  }
}

.card {
  border: none;
  box-shadow: 1px 3px 13px -2px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
  margin: 2.5rem 2rem;
  padding: 2.5rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}
@media screen and (min-width: 680px) {
  .card {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.5rem;
    text-align: left;
  }
}
@media screen and (min-width: 680px) {
  .card .card__info {
    padding: 6rem;
  }
}
.card .card__title {
  margin: 1rem 0;
  color: #00252e;
  font-family: "Poppins", sans-serif;
}
.card .card__text {
  margin: 1rem 0;
  font-family: "Open Sans", sans-serif;
  color: #808d99;
}
.card .card__img {
  width: 70%;
  padding: 2rem 0;
}
@media screen and (min-width: 680px) {
  .card .card__img {
    width: 40%;
    padding: 2rem;
  }
}
@media screen and (min-width: 680px) {
  .card--inverted {
    flex-direction: row;
  }
}
.card--small {
  margin-top: -120px;
  background-color: white;
  color: black;
}
.card--small .card__title--small {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #00252e;
}
@media screen and (min-width: 680px) {
  .card--small .card__title--small {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 680px) {
  .card--small {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
    padding: 2rem;
  }
}

.btn {
  background-color: #ff52bf;
  border: none;
  border-radius: 15px;
  padding: 0.5rem 2rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  box-shadow: 0px 5px 12px -8px rgba(0, 0, 0, 0.45);
}
.btn--blanco {
  background-color: #ffff;
  color: #00252e;
}

header {
  background-color: #ebfbff;
  background-image: url(../../images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  padding: 0 5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

.footer {
  background-color: #00252e;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
  padding: 2rem 1rem;
}
.footer .logo--blanco {
  width: 50%;
  margin: 2rem 0;
}
@media screen and (min-width: 680px) {
  .footer .logo--blanco {
    width: 60%;
  }
}
@media screen and (min-width: 680px) {
  .footer .footer--direction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
  }
}
.footer .footer__list {
  list-style: none;
  margin-bottom: 2.5rem;
}
.footer .footer__list .footer__list__item {
  padding-top: 0.5rem;
  line-height: 2rem;
  display: flex;
  align-items: baseline;
}
.footer .footer__list span {
  display: inline-block;
  margin-left: 1rem;
}
.footer .footer__list a {
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 680px) {
  .footer .footer__list {
    width: 30%;
  }
}
.footer .footer__info {
  list-style: none;
}
.footer .footer__info a {
  text-decoration: none;
  color: #fff;
  line-height: 3rem;
}
@media screen and (min-width: 680px) {
  .footer .footer__info {
    width: 25%;
    text-align: center;
  }
}
.footer .social-media {
  display: flex;
  justify-content: center;
}
.footer .social-media i {
  margin: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 680px) {
  .footer .social-media {
    width: 20%;
  }
}
.footer .small {
  text-align: center;
}
@media screen and (min-width: 680px) {
  .footer .small {
    text-align: end;
  }
}

/*# sourceMappingURL=style.css.map */
